
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <!-- <h1 class="w3-jumbo"><b>Interior Design</b></h1> -->
    <h1 class="w3-xxxlarge"><b>Manage Images</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

  <div class="w3-container">

    <label>Path :</label>
    <input [(ngModel)] = "new_image_path"
    type="text" class="form-control mb-2">

    <label>Description :</label>
    <input [(ngModel)] = "new_image_description"
    type="text" class="form-control mb-2">
    
    <button (click)="saveImage()" type="button" class="btn btn-primary mt-2 mb-5">
      Add New Image</button>

    <ul class="list-group">
      <li *ngFor="let image of getImageList()"
        class="list-group-item d-flex justify-content-between align-items-center">
        {{image.description + ' - ' + image.id}}
        <a class="material-symbols-outlined text-decoration-none btn btn-outline-danger btn-circle"
          (click)="deleteImage(image.id)">delete</a>
      </li>
    </ul>

</div>
