
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" [ngClass]="[toggleSidebar]" id="mySidebar"><br>
    <a href="javascript:void(0)" (click)="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
      <h3 class="w3-padding-64"><b>{{company_name}}</b></h3>
    </div>
    <div class="w3-bar-block">
      <a routerLink="/login" class="w3-bar-item w3-button w3-hover-white"
        *ngIf="!isLoggedIn()">Log In</a> 
      <a routerLink="/home" (click)="w3_close()" class="w3-bar-item w3-button w3-hover-white"
        *ngIf="isLoggedIn()">Home</a>  
      <a routerLink="/manage_images" (click)="w3_close()" class="w3-bar-item w3-button w3-hover-white"
        *ngIf="isLoggedIn()">Manage Images</a> 
      <a routerLink="/logout" (click)="logout()" class="w3-bar-item w3-button w3-hover-white"
        *ngIf="isLoggedIn()">Logout</a> 
    </div>
  </nav>
  
  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" (click)="w3_open()">☰</a>
    <span>{{company_name}}</span>
  </header>
  